{% raw %}
{% extends "base.html" %}
{% block title %}Aggiungi {{ cfg.title }}{% endblock %}
{% block content %}
<h1 class="mb-4">Aggiungi {{ cfg.title }}</h1>
<form method="post" class="row g-3">
{{ form.hidden_tag() }}
{% for field in form.fields if field.name != 'submit' %}
	<div class="col-md-{{ 6 if field.type in ['StringField','SelectField','IntegerField'] else 12 }}">
	<label class="form-label">{{ field.label.text }}</label>
	{{ field(class="form-control" if field.type!='RadioField' else 'form-check-input') }}
	{% if field.errors %}
		<div class="invalid-feedback d-block">{{ field.errors[0] }}</div>
	{% endif %}
	</div>
{% endfor %}
<div class="col-12">
	{{ form.submit(class="btn btn-success") }}
	<a href="/" class="btn btn-link">Annulla</a>
</div>
</form>
{% endblock %}
{% endraw %}